<html>
    <body>
        <h1>Hello world</h1>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                <h1>you searched for : <%= data.userquery %></h1>
                <% if(data.loggedIn){ %>
                    <h2> You are logged in as : <%= data.username %> </h2>
                <% } %>
                <ul>
                    <% data.searchResults.forEach(result =>{ %>
                        <li> <%= result %> </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </body>
</html>